.modals-container{
    position: fixed;
    top:0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    pointer-events: none;
    z-index: 200;
}

.modal-wrapper{
    pointer-events: auto;
    width: 100%;
    height: 100%;
    padding: 20px;
    @media (max-width: 700px) {
        padding: 0px;
        justify-content: flex-end;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    isolation: isolate;
    &.active{
        visibility: visible;
        .modal-backdrop{
            opacity: 1;
        }
        .modal-container{
            transform: translateY(0);
            opacity: 1;
        }
    }
    .modal-backdrop{
        transition: 0.3s ease-in-out;
        position: absolute;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        // background: rgba(255, 255, 255, 0.282);
        background: rgba(0, 0, 0, 0.282);
        opacity: 0;
    }
    .modal-container{
        transition: 0.4s ease-in-out, opacity 0.2s ease-in-out;
        transform: translateY(20%);
        opacity: 0;
        background: white;
        width: clamp(400px, 70%, 600px);
        z-index: 210;
        //border-radius: 20px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        max-height: 90vh;

        @media (max-width: 700px) {
            width: 100%;
            //border-radius: 20px 20px 0px 0px;
        }
        .modal-body{
            overflow: auto;
        }

        .modal-header, .modal-footer{
            padding: 29px;
            background: #fafafa;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
    .close-btn{
        user-select: none;
        width: 40px;
        height: 40px;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #f5f5f527;
        color: white;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: none;
        transition: 0.2s ease-in-out;
        cursor: pointer;
        &:hover{
            background: #e5e5e5; 
            color: black;
        }
        &.float{
            position: absolute;
            top: 10px;
            right: 10px;
        }
    }
}