//-----------------RESET

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Inter', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/*
  TODO: Typography
*/

@Font1:  'Inter', sans-serif;
@Font2: 'Roboto', sans-serif;



/*
  TODO: Colors
*/

/*
  TODO: Primary Meta
*/

/*
  TODO: Form Items 
*/

/*
  TODO: Components
*/ 

/*
  TODO: Layouts
*/ 

/*
  TODO: Extra
*/ 